# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db

# Jupyter
.ipynb_checkpoints

# Virtual environments
venv/
env/
.venv/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Data files (optional if large)
data/raw/
data/processed/
